html {
	background-image: url("../images/bloggy1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    height: 100%;
}

.navigation {
	width: 100%;
}

.navigation text{
	color: #fff;
	font-family: Courier,monospace;
	font-weight: bold;
	font-size: 30px;
	border-radius: 20px;
    padding: 14px 16px;
	position: absolute;
}

.navigation img {
 border-radius: 15%;
 height: 15%;
 margin-left: 0px;
 position: absolute;
 left: 20px;
}	

.navigation a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 25px;
	border-radius: 20px;
    padding: 14px 16px;
    position: absolute;
    font-family: Verdana, sans-serif;
}

.navigation text[name="1"] {
	left: 870px;
}

.navigation text[name="2"] {
	left: 1120px;
}

.navigation text[name="3"] {
	left: 1330px;
}

.navigation a[name="about"] {
    left: 700px;
}

.navigation a[name="contact"] {
    left: 930px;
}

.navigation a[name="signup"] {
	 left: 1180px;
}

.navigation a[name="login"] {
    left: 1385px;
}

.navigation a[name="about"]:hover {
	color: #33ff99;
}

.navigation a[name="signup"]:hover {
	color: #33ff99;
}

.navigation a[name="contact"]:hover {
	color: #33ff99;
}

.navigation a[name="login"]:hover {
	color: #33ff99;
}
