@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree Serif);

html{
	background-image: url("../images/blog6.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	overflow-y: scroll;
}

body {
	background: linear-gradient(rgba(51,0,102,1),rgba(51,0,0,0));
	font-family: 'Open Sans', sans-serif;
	margin-left: 0px;
	width: 100%;

}

* {
	box-sizing: border-box;
}

/* Navigation Bar*/

.navigation {
	background-color: #000;
	position: fixed;
	overflow: hidden;
	font-size: 40px;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 9999;
}

.navigation img {
	height: 80px;
	font-size: 40px;
	border-radius: 20px;
	float: left;
	display: block;
	color: black;
	text-decoration: none;
	text-align: center;
	padding: 14px 16px;
}

.navigation a {
	float: left;
	display: block;
	color: grey;
	text-align: center;
	padding: 14px 66px;
	text-decoration: none;
	font-size: 35px;
	border-radius: 50%;
}

.navigation a:hover {
	background-color: #fff;
	color: #000;
}

.navigation a[name="settings"]{
	color: #fff;
}

.navigation a[name="settings"]:hover {
	background-color: #fff;
	color: #000;
}

.navigation .search {
	float: left;
	padding-right: 40px;
	padding-left: 20px;
	margin-bottom: 20px;
}

.navigation input[type="text"] {
	padding: 6px;
	margin-top: 30px 0px 10px 0px;
	padding-top: 10px;
	border: 3px solid black;
	width: 400px;
	border-radius: 10px; 
}

.searchterm:focus{
	color: #000;
}

.navigation .search button {
	background: #fff;
	padding: 5px 10px 5px 10px;
	margin: 30px 0px 0px 0px;
	border: 3px solid black;
	color: black;
	font-size: 20px;
	border-radius: 10px;
	cursor: pointer;
}

a[name="link"] {
	text-decoration: none;
}

.changepwd {
	background-color: #ffffff;
    background-image: -webkit-linear-gradient( -45deg, #ffeeff 0%, #ffeeff 50%, #ffddff 50%, #ffddff 50%);
    background-image: linear-gradient( -45deg, #ffeeff 0%, #ffeeff 50%, #ffddff 50%, #ffddff 50%);
	padding: 10px;
	position: relative;
	height: cover;
	top: 230px;
	left: 290px;
	width: 900px;
	border-radius: 80px;
	text-decoration: none;
}

.changepwd  p,a {
	margin-left: 50px;
	text-decoration: none;
}

.changepwd p{
	margin-left: 50px;
	color: #000;
	font-family: 'Bree Serif';
	font-weight: bold;
	text-align: left;
	font-size: 30px;
}

.changepwd span[name="pwd"] {
	text-align: left;
	font-size: 50px;
	color: black;
	padding-right: 50px;
}

.changepwd span[name="pwdtext"] {
	text-align: left;
	font-size: 30px;
	color: black;
}

.signout {
	background-color: #ffffff;
    background-image: -webkit-linear-gradient( -45deg, #ffeeff 0%, #ffeeff 50%, #ffddff 50%, #ffddff 50%);
    background-image: linear-gradient( -45deg, #ffeeff 0%, #ffeeff 50%, #ffddff 50%, #ffddff 50%);
	padding: 10px;
	position: relative;
	height: cover;
	top: 280px;
	left: 290px;
	width: 900px;
	border-radius: 80px;
	text-decoration: none;
}

.signout  p,a {
	margin-left: 50px;
	text-decoration: none;
}

.signout p{
	margin-left: 50px;
	color: #000;
	font-family: 'Bree Serif';
	font-weight: bold;
	text-align: left;
	font-size: 30px;
}

.signout span[name="door"] {
	text-align: left;
	font-size: 50px;
	color: black;
	padding-right: 50px;
}

.signout span[name="logout"] {
	text-align: left;
	font-size: 30px;
	color: black;
}
